@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-teal-500: #009688;
    --color-hover-bg-teal-700: #00796b;
}

.color-button {
    background-color: var(--color-bg-teal-500);
}

.color-button:hover {
    background-color: var(--color-hover-bg-teal-700);
}

.color-bg-teal-500 {
    background-color: var(--color-bg-teal-500);
}

.color-text {
    color: var(--color-bg-teal-500);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* Ajusta este valor para cambiar la altura */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
    /* Ajusta este valor para cambiar el radio del borde */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-bg-teal-500);
}

/* Scrollbar horizontal */
::-webkit-scrollbar-horizontal {
    height: 5px;
    /* Ajusta este valor para cambiar la altura */
}